h1 {
    text-align: center;
}

.textito1 {
    background-color:lightgray;
    border: 15px solid green;
    width: 180px;
    padding: 50px;
    margin: 20px;
    float: left;

}

.textito2 {
    background-color: lightgrey;
    width: 180px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
    float: right;
}

.copa img {
    width: 586px;
    height: 430px;
    float: left;
    margin: 20px;
}
